@model IEnumerable<Protus.Data.Entities.Course>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">

                <h4 class="card-title">Manage Course(s)</h4>
                <p>
                    @Html.ActionLink("Create New", "Create", "Courses",null, new { @class = "btn btn-primary", style = "margin-top:10px;" })
                </p>
            </div>
            <div class="card-content">
                <div class="table-responsive">
                    <div class="table-responsive" style="overflow-x:scroll">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                   
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                       
                                        <td>
                                            <a asp-action="Create" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div>

